COMPOSE_PROJECT_NAME=quoteflow
QUOTEFLOW_IMAGE_TAG=replace-with-reviewed-git-sha
QUOTEFLOW_FRONTEND_BIND=127.0.0.1:8081
QUOTEFLOW_CORS_ALLOW_ORIGINS=https://quoteflow.stalarvision.ru
QUOTEFLOW_REQUEST_SIZE_LIMIT_BYTES=262144
